%h2
  Select a Rail
%table{:cellspacing => 5}
  - for purchasable in @purchasables
    %tr
      %td{:align => "center"}
        = link_to(image_tag(purchasable.image_thumb_url, :width => 100, :border => 0),{:action=>"detail",:id=>purchasable.id})
      %td
        %span.purchase_link
          = link_to purchasable.human_name,{:action=>"detail",:id=>purchasable.id}
        %br
        = h purchasable.short_description
  %br
- if !@cart.empty?
  %h3
    = link_to "View Cart", :action => "cart"
%br
%span{:style=>"font-size:120%"}
  %i
    or
%br
%h2
  Skip the store and view
  = link_to "Example Checkout Code", :action => "example_code"