%html
  %head
    %title
      RailsVendor

    = stylesheet_link_tag "railsvendor"
  
  %body
    #header
      %h1
        = link_to "RailsVendor", "/"
        == - example rails application
    #main_container
      #main
        = yield
      #medium_panel
        <embed width="300" height="250" quality="high" wmode="transparent" type="application/x-shockwave-flash" allownetworking="all" allowscriptaccess="always" src="http://statics.marketing.spongecell.com/ads/big_light/2008/06/30/ad.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" name="http://statics.marketing.spongecell.com/ads/big_light/2008/06/30/ad.swf"/>
        = link_to "Rich Media Ads Powered by Spongecell", "http://ads.spongecell.com"    
        
    #footer
      info
      = link_to "Git It", "http://github.com/ckhsponge/railsvendor"
      %br
      = h @cart.inspect
      %br
      = link_to "View Cart", :action => "cart"