- divider = "&#149;"
%html
  %head
    %title
      Rails Vendor - Ruby on Rails e-commerce example application

    = stylesheet_link_tag "railsvendor"
    = javascript_include_tag "prototype"
    = javascript_include_tag "rails_vendor"
  
  %body
    #frame
      #header
        #title
          = link_to "Rails Vendor", "/"
        == Example e-commerce application demonstrating various website payment methods
        = divider
        == Built for
        = link_to "RailsConf Europe 2008","http://en.oreilly.com/railseurope2008/public/content/home", :target => "_blank"
        /== A limited selection of medium quality photographs at bargain prices
      #main_container
        #main
          ~ yield
        #medium_panel
          <iframe src="http://statics.live.spongecell.com/railsconf/2008/08/18/railsConf_index.html" width=160 height=600 marginwidth=0 marginheight=0 hspace=0 vspace=0 frameborder=0 scrolling=no></iframe>
          %br
          %b
            = link_to "Spongecell Rich Media", "http://spongecell.com", :title => "Rich Media Advertisements", :target => "_blank"
          
      #footer
        RailsVendor is open source at
        = link_to "GitHub", "http://github.com/ckhsponge/railsvendor"
        = divider
        - if @cart.empty?
          Your cart is empty.
          = link_to "Buy something.", "/"
        - else
          Your cart currently has
          %b
            = h @cart.total_count
          = @cart.total_count == 1 ? "item." : "items."
          = link_to "View Cart", :controller => "rails_vendor", :action => "cart"
      #sub_footer
        = render :partial => "/layouts/adsense"