%html
  %head
    %title
      RailsVendor - Ruby on Rails e-commerce example application

    = stylesheet_link_tag "railsvendor"
  
  %body
    #frame
      #header
        %h1
          = link_to "RailsVendor", "/"
        == We carry a limited selection of medium quality photographs at bargain prices.
      #main_container
        #main
          = yield
        #medium_panel
          <embed width="300" height="250" quality="high" wmode="transparent" type="application/x-shockwave-flash" allownetworking="all" allowscriptaccess="always" src="http://statics.marketing.spongecell.com/ads/big_light/2008/06/30/ad.swf" pluginspage="http://www.macromedia.com/go/getflashplayer" name="http://statics.marketing.spongecell.com/ads/big_light/2008/06/30/ad.swf"/>
          = link_to "Rich Media Ads Powered by Spongecell", "http://ads.spongecell.com"    
          <a href="http://www.railsconfeurope.com">
          <img src="http://assets.en.oreilly.com/1/event/13/railseurope2008_spk_336x280.gif" width="300" height="250"  border="0"  alt="RailsConf Europe 2008" title="RailsConf Europe 2008"  />
          </a>
          
      #footer
        - divider = "&#149;"
        RailsVendor is open source at
        = link_to "GitHub", "http://github.com/ckhsponge/railsvendor"
        = divider
        - if @cart.empty?
          Your cart is empty. Buy something.
        - else
          Your cart currently has
          %b
            = h @cart.total_count
          = @cart.total_count == 1 ? "item." : "items."
          = link_to "View Cart", :controller => "rails_vendor", :action => "cart"